---
import { getCollection } from "astro:content";
import { Section, BaseLayout } from "@/components/layouts";
import BlogCard from "@/components/ui/BlogCard.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Blogs" description="The posts of miniyuan's blog">
	<Section title="Blogs">
		<div class="blog-container">
			{
				posts.map((post) => (
					<BlogCard
						title={post.data.title}
						pubDate={post.data.pubDate}
						author={post.data.author}
						position={post.data.position}
						tags={post.data.tags}
						heroImage={post.data.heroImage}
						excerpt={post.data.description}
						href={`/blog/${post.id}/`}
					/>
				))
			}
		</div>
	</Section>
</BaseLayout>
