---
// Define a consistent html layout for blog posts.

import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { FormattedDate } from "@/components/basic";
import { Card, Icon } from "@/components/ui";

type Props = CollectionEntry<"blog">["data"];

const {
	title,
	excerpt,
	author,
	tags,
	pubDate,
	updatedDate,
	heroImageLight,
	heroImageDark,
} = Astro.props;
---

<BaseLayout title={title} description={excerpt}>
	<Card
		hover={false}
		padding="lg"
		class="shadow-lg overflow-hidden max-w-none prose prose-md dark:prose-invert"
	>
		<header>
			<div
				class="flex flex-row items-center justify-start pt-2 gap-8 text-muted-foreground"
			>
				<time
					class="inline-flex items-center gap-2 text-base font-mono"
					datetime={pubDate.toISOString()}
				>
					<Icon name="calendar" class="size-5" />
					<FormattedDate date={pubDate} />
				</time>

				{
					updatedDate && (
						<time
							class="inline-flex items-center gap-2 text-base font-mono"
							datetime={pubDate.toISOString()}
						>
							<Icon name="pencil" class="size-5" />
							<FormattedDate date={updatedDate} />
						</time>
					)
				}

				<div class="inline-flex items-center gap-2 text-base">
					<Icon name="user" class="size-5" />
					<span>{author}</span>
				</div>
			</div>

			<h1 class="mt-4 mb-0">
				{title}
			</h1>

			<hr class="my-6 md:my-8 border-t border-gray/20" />
		</header>

		<!-- Article content, use prose style atomatically -->
		<slot />
	</Card>
</BaseLayout>
